[2014-04-25 18:56] dmjio opened #1 "Add exception handling around the stripeRequest method"

[2014-04-25 18:56] dmjio opened #2 "Define FromJSON instances for the rest of the Stripe API"

[2014-04-25 18:57] dmjio opened #3 "Stripe API only needs a public or private key... so choose one"
Delete public key I say, keep secret.

[2014-04-26 22:56] #3 closed, assigned to nobody

[2014-09-22 22:14] dmjio opened #4 "hardcode stripe version, don't let end users change it"

[2014-09-22 22:15] dmjio opened #5 "Add parse failure exception handling (make it return Error)"

[2014-10-15 22:46] #1 closed, assigned to nobody

[2014-10-15 22:46] #4 closed, assigned to nobody

[2014-10-15 22:47] #2 closed, assigned to nobody

[2014-10-15 22:47] #5 closed, assigned to nobody

[2014-11-07 22:47] maxcan opened #6 "Exapnded___ ADT Pattern for CustomerId, ChargeId etc seems inelegant"
For types like CustomerId and ChargeId I don't see the value of the pattern:

[code]

It principally throws me off in writing `ToJSON` and `PersistField` instances.  Could a `Customer` record really contain another `Customer` record in the `customerId` field?  It seems like we're going out of are way to allow illegal states.

The other stripe library, which I am trying to migrate from since this o

[2014-11-15 17:32] matthewarkin opened #8 "Enhance Readme"
Our current readme is way to empty. Gonna copy the description from the .cabal file

[2014-11-16 22:18] #8 closed, assigned to matthewarkin

[2014-11-20 20:21] stepcut opened #10 "updateSubscription missing fields"
I am trying to port my code from my own stripe library to this one. The API allows you to update many aspects of the subscription:

https://stripe.com/docs/api/curl#update_subscription

But the current implementation of the updateSubscription function only allows you to modify the coupon and metadata. Unfortunately, my code needs to modify which plan they are subscribed to. Not sure why only some

[2015-02-24 21:47] iand675 opened #12 "getEvents fails to parse some events"
When getEvents / getEvent tries to parse invoice events, parsing fails:

Here's the JSON for such an event:

[code]

Here's the parse error:

[code]

[2015-02-25 20:07] dmjio commented on #12
Thanks, that's a different JSON object from the typical Invoice Line Item object that stripe documents. It seems that invoice line item objects retrieved on events are different from standalone invoice line item objects.

The invoice line item object that I parse against is found here: https://stripe.com/docs/api#invoice_line_item_object

I'll check #stripe to see why the invoice line item objects

[2015-02-25 22:27] matthewarkin commented on #12
So line items in an invoice are not invoice item objects

[2015-02-25 22:38] matthewarkin commented on #12
His api version is from 2012. Lots of changes since then.

[2015-02-25 22:42] iand675 commented on #12
I was under the impression that [setting a header in the client library](https://groups.google.com/a/lists.stripe.com/forum/#!topic/api-discuss/V4sYRlHwalc) would ensure that the API version actually *used* would be the correct one. That appears to be done here: https://github.com/dmjio/stripe/blob/master/src/Web/Stripe/Client/Internal.hs#L97

[2015-02-25 22:43] dmjio commented on #12
So was I, @matthewarkin :) I was just informed by a Stripe employee that the version in your stripe header will *not* override the api version in your control panel.

[2015-02-25 22:46] matthewarkin commented on #12
This is only for events. The work around is to grab the object and retrieve it.

—
Sent from Mailbox

On Wed, Feb 25, 2015 at 2:43 PM, David Johnson <notifications@github.com>
wrote:

[2015-02-25 22:51] dmjio commented on #12
@iand675, are you allowed to upgrade your stripe version?

[2015-02-25 22:54] iand675 commented on #12
Hmm, probably not. The main consumer of Stripe in my use case is in another language and would probably induce a lot of reluctance from other developers if I tried to upgrade. What I'm working on now is a greenfield analytics project, so it's less mission-critical. Would it be reasonable to request a version of getEvents/getEvent that perhaps just gives the relevant id(s) so I could request the in

[2015-02-26 01:08] iand675 commented on #12
Or at the very least, perhaps you could just expose a low-level function that would just let me specify a path e.g. '/v1/events' and just give me an object? e.g.

[code]

Something like that would be enough to help me make what I need happen.

[2015-02-26 14:44] dmjio commented on #12
Technically you could do that right now, even without this library. In your Stripe user account settings you can POST events to an endpoint on your server and decode the body bytes as JSON.

![screen shot 2015-02-26 at 8 39 59 am](https://cloud.githubusercontent.com/assets/875324/6393929/a2d329ce-bd93-11e4-922b-118de1636fc5.png)

Would this suffice?

[code]

If not, I can add a function for you. W

[2015-02-26 14:49] iand675 commented on #12
Unfortunately, receiving webhooks isn't the same thing as what I'm trying to accomplish. Currently what I'm trying to do involves iterating through all past events, for which I think I need to use the API. As far as I can tell, the API only makes guarantees about providing the past 30 days worth of events, but they currently actually allow retrieving all of them. I'm hoping to retrieve them all an

[2015-02-26 15:37] dmjio commented on #12
I pushed version 0.1.1.1 to hackage. In it I exported a `stripeRaw` function. This should allow any user to craft a custom request to `api.stripe.com`. If you want to provide your own FromJSON parser you can, or you can just use the default aeson one (`Value`). Here's an example of how to use it (for events)

[code]

[2015-02-26 15:39] iand675 commented on #12
Thank you so much! I know what I'm doing is kind of an edge case– I can't say thanks enough for being accommodating!

[2015-02-26 15:41] dmjio commented on #12
@iand675, no problem, thanks for bringing this to light. For make benefit glorious haskell.

Given the fact that Stripe's JSON objects are dictated by the API version in the user control panel, I'd say this function will get a lot of use.

[2015-02-26 15:41] #12 closed

[2015-02-27 19:10] alexwestholm commented on #10
Thanks for the module, @dmjio! Any movement on this? Running into similar issues. Off the cuff, @stepcut's approach seems to strike a good balance between internal complexity and ease of external use.

[2015-02-27 19:46] dmjio commented on #10
@alexwestholm, @stepcut changes will represent the newest API. They just need to be merged.

[2015-05-27 21:03] dbp opened #18 "Eliminate (really unsafe) record fields on data types with variants."
I just converted an application from the previous stripe library, and in general things have been good, but I have some pretty serious concerns about safety. In particular, I just saw an error in production due to this problem. Essentially, record field accessors on data types with variants are really unsafe. The particular one that I hit was on `Customer` - I was converting code, and the other st

[2015-05-27 22:34] dmjio commented on #18
There is a nuance (specifically for customers), that retrieving deleted records don't 404, they stick around. I agree that these partial functions need to be removed. @stepkut's changes still need to be merged, and I believe they remedy this situation. It's been hard to get a breather from work, and the merge is huge. I apologize for this, and plan to make the changes asap.

[2015-05-28 23:21] jonschoning commented on #10
When arguments get too complex, one solution is to create a data type just for the arguments. Then you can create a default constructor for that type, and fill in only what you want to replace.  That seems more self-documenting to me than sprinkling constraints around in instance declarations

[2015-05-29 00:50] dmjio commented on #10
@jonschoning, That's true, but it's not that simple. That was my initial approach, but let's flesh that out. There is a `metadata` field for at least 11 different areas (Invoices, Subscription, Customer), etc. This means both the `Invoice` JSON return object and `InvoiceParameters` records would have metadata fields aptly named `invoiceMetaData` and `invoiceParameterMetaData`. Since haskell record

[2015-05-29 03:00] jonschoning commented on #10
Well said.  Very well then, I now see the wisdom of this approach!

[2015-06-04 10:49] dbp opened #19 "cardCountry is not required - causes parse failures on successful charges (and presumably other problems)"
The field "country" is not guaranteed to be present in cards. I've only ever seen this with AmEx, but maybe other types of cards can be country-less too. It was a bit of deja-vu when I started getting these errors today, as I fixed this same issue in the previous stripe library: https://github.com/michaelschade/hs-stripe/commit/a3ca41cbc8c54d0a151f370b9012c0d776acc35e

This is a really serious iss

[2015-06-04 15:14] dmjio commented on #19
@dbp, that may have been true of the 2011 API, but as of 2014 there is no indication on the docs that Country is optional (They explicitly mark fields as optional).

[code]

For confirmation I'm adding @matthewarkin. @matthewarkin can you confirm country code is/isn't optional.

[2015-06-04 15:21] dbp commented on #19
@dmjio Well I have an example of the 2014-10-07 API returning null for the country in the card, embedded within a charge... I'm not sure what else to tell you. If it weren't sensitive information, I'd paste it in here :)

[2015-06-04 15:29] dmjio commented on #19
Ok, yea, stripe can be pretty terrible about documenting their API. That's pretty unfortunate there isn't more info regarding that. I'll make an issue.

[2015-06-04 21:07] matthewarkin commented on #19
So the payment country is determined by the BIN number of the card and it ~should~ always be there, but I have heard cases where it isn't always there. I don't necessarily know why, but a null-able string would be a decent type for country.

[2015-06-04 21:10] matthewarkin commented on #19
I'm told some international Amex cards don't have a country associated with them. Don't you love payments?

[2015-06-04 21:41] dmjio commented on #19
Soon we'll be writing APIs for type safe bitcoin payments and we'll look back on this and laugh. @dbp Stripe's api's are pretty ad-hoc I'm assuming the reason there is no standard specification for us to code against is that they themselves aren't sure of all the rules, nuances.

[2015-06-05 02:03] dbp commented on #19
@matthewarkin I've now seen this at least twice (well, twice it has caused errors so I've noticed it), and both times it was an Amex card from someone outside the US, so what you say makes sense.

[2015-06-15 04:23] dmjio opened #20 "Add idempotent request functionality"
https://stripe.com/docs/api#idempotent_requests

[2015-06-23 23:02] dmjio opened #21 "Bottoms"
@stepcut,

Are we sure about this?
[code]
Introducing bottom's worries me here, wonder if we could enforce this at compile time.

[2015-07-14 21:20] tdimiduk opened #22 "Tests Broken on hackage version?"
The version of stripe-haskell on hackage (and nixpkgs) does not appear to be able to run its tests. I took the tarball from hackage and ran:
cabal clean
cabal configure --enable-tests
cabal build tests

In-place registering stripe-haskell-0.1.4.0...
Preprocessing test suite 'tests' for stripe-haskell-0.1.4.0...

tests/Main.hs:6:18:
    Could not find module ‘Test.Config’
    Use -v to see a list o

[2015-07-14 21:52] dmjio commented on #22
Nothing wrong on your part, it seems the tests have not been included in any hackage release starting from the initial release. Unsure why this is. I've still been able to use it fine from nixpkgs.

[2015-07-14 22:02] dmjio commented on #22
We're on the cusp of a new release, with new tests.

[2015-07-14 23:48] tdimiduk commented on #22
Do you do anything special to get it to install with nixpkgs? For me it try
to run the tests and then gives up on installing when the tests fail.

On Tue, Jul 14, 2015 at 6:02 PM, David Johnson <notifications@github.com>
wrote:

[2015-07-15 02:29] dmjio commented on #22
I forgot to add Test.* modules to the test modules section. Will add and
put up a new hackage version tonight.

On Tue, Jul 14, 2015 at 6:48 PM, Tom Dimiduk <notifications@github.com>
wrote:

--
Cell: 1.630.740.8204

[2015-07-15 04:13] dmjio commented on #22
@tdimiduk, `0.1.4.1` is on hackage and should contain the tests (modules now present in the `other-modules` section of the test-suite portion). Tests only get run if you `export STRIPEKEY=<test-key>`. Otherwise they won't run, but return success (so nix will work regardless of the variable being set). Hope this helps!

[2015-07-15 04:13] #22 closed

[2015-07-15 12:22] tdimiduk commented on #22
Great. Thanks for fixing this so quickly! I have submitted a PR to nixpkgs to get this new version in.

[2015-07-15 12:51] dmjio commented on #22
Fantastic thanks, let me know if you run into anything else.

[2015-07-16 14:20] dmjio commented on #18
@dbp, thought of a solution to this. Then make all customer retrieval functions use this.
[code]

[2015-07-16 14:21] dbp commented on #18
@dmjio That sounds great.

[2015-09-09 10:07] TheunisKotze opened #24 "Stripe version"
Would be good to state the version of stripe this library is compatible with in the readme & docs.  Had to go searching through the source code to find it.

How were you thinking of supporting multiple stripe versions?  For example, I need to use functionality introduced in [2015-02-18](https://stripe.com/docs/upgrades#2015-02-18).  I haven't yet looked in depth how much of the rest of the api has

[2015-09-09 14:44] LukeHoersten commented on #24
Basically the way the Stripe people do it is just adding more things into the JSON objects so typically you can use a newer version of the API with the current code. That's what most people do in fact. Then you just use the config to override the version requested. Also, the version pegging in the Stripe dashboard overrides the version requested in the API.

If you want to submit a PR better docum

[2015-09-09 15:28] dmjio commented on #24
@TheunisKotze what features from 2015 are you looking to use? If it's a new endpoint it may be accessible via our API version (i.e bitcoin functionality came out later than this API version, but we can still get access to it).

If you need a custom parser to handle the new request I recommend using the `stripeRaw` function. It let's you define your own ADT and parser in the case of new functionali

[2015-09-09 16:56] TheunisKotze commented on #24
Thanks for the tips.  The change from cards to sources is what interests me.
I'll take a more thorough look and post an update

[2015-09-09 18:06] dmjio commented on #24
@TheunisKotze, yea the API changelog is interesting

We should still have access to `source` here it seems, unsure if this helps though. Keep me posted.

[2015-11-21 03:03] tdimiduk opened #28 "How to charge by token from Stripe Checkout?"
I had code working in version 1.4 which used chargeCardByToken to charge a token I got from the Stripe Checkout api, but this function appears to be missing in version 2. Is there a way to replicate this functionality in the new version?

The old function was:
[code]

[2016-02-17 20:15] dmjio opened #29 "Fix version bounds on aeson"
supposedly, this syntax `(>= 1 && < 3) || (>= 4 && < 5) ` works

[2016-03-08 04:09] #29 closed

[2016-03-08 12:51] dmjio opened #31 "Mock stripe server"
https://github.com/rebelidealist/stripe-ruby-mock/tree/api-2014-06-17

cc @stepcut .. this is cool, sure beats what we're doing now for testing

[2016-03-27 21:48] andrewthad commented on #28
I'm having the same problem.

[2016-03-27 22:27] andrewthad opened #32 "Exception instance for StripeError"
Can you add an instance for `Exception` to `StripeError`?

[2016-03-29 01:40] dmjio commented on #32
@andrewthad https://github.com/dmjio/stripe/pull/33, if it looks good to you I can merge it. cc @stepcut

[2016-03-29 02:05] dmjio commented on #28
The following should work:
[code]

[2016-03-29 02:05] #21 closed

[2016-03-29 11:58] andrewthad commented on #32
Yeah, that's exactly what I had in mind.

[2016-03-30 04:44] dmjio commented on #32
Will push to hackage soon

[2016-03-30 04:44] #32 closed

[2016-03-30 04:46] dmjio opened #34 "Releasing"
@stepcut, I've added an instance of `Exception` to `StripeError`, this has only affected the `stripe-core` package. For the sake of consistency should we increase versions across all packages? Or just simply the `stripe-core` package. I assume the latter, but wanted to get your input on this.

[2016-04-14 01:12] bitemyapp opened #36 "ToJSON for StripeError"
Is there ever sensitive information in the StripeError value? If not, could there be a ToJSON instance? It'd spare me playing data-relay with the error since I'd just be passing the same information down to the JS client.

[2016-04-14 18:33] dmjio commented on #36
Hey, I don't think any sensitive info would be transmitted in the error messages (certainly not API keys, although maybe customer ids - but those aren't understandable). I see nothing wrong with a `ToJSON` instance for `StripeError`, as long as consumers of this library know that it is for convenience purposes. Since `StripeErrors` can only be received from stripe. The only alternative would be to

[2016-04-14 19:31] bitemyapp commented on #36
Also,
![screenshot from 2016-04-14 14-30-46](https://cloud.githubusercontent.com/assets/320177/14541031/8966c14e-024d-11e6-8321-a6d062daa1f8.png)
![screenshot from 2016-04-14 14-30-42](https://cloud.githubusercontent.com/assets/320177/14541032/89784888-024d-11e6-8641-6d4cc510aca7.png)

[2016-04-14 19:42] dmjio commented on #36
Stripe's APIs don't accept JSON, but return it. A `NewCard` is meant to be submitted as a from url-encoded query parameter.

[2016-04-14 19:44] bitemyapp commented on #36
@dmjio oh sure, I was thinking of recycling the datatype for inputs from our SPA client.

[2016-04-14 19:50] dmjio commented on #36
@bitemyapp, Ah I see, I suppose we could add To/FromJSON instances to types like `NewCard`. I can see how that would fit a use case. Would need to ensure the isomorphisms hold.

[2016-04-14 20:19] dmjio commented on #36
@bitemyapp would you want just `NewCard`? Or others as well?

[2016-04-14 20:31] bitemyapp commented on #36
@dmjio well, sorta just plugging away as I go really. Think `NewCard`, `SubscriptionId`, and `StripeError` would cover it for now.

[2016-04-14 21:30] dmjio commented on #36
Sounds like the beginnings of a branch, I'll start one.

[2016-04-14 21:32] bitemyapp commented on #36
@dmjio ty ty <3

[2016-04-14 21:45] dmjio commented on #36
:)

[2016-04-18 09:57] tlaitinen opened #38 "cancelSubscription with AtPeriodEnd True"
The instance `ToStripeParam AtPeriodEnd` at
https://github.com/dmjio/stripe/blob/master/stripe-core/src/Web/Stripe/StripeRequest.hs#L164-L166

looks a bit suspicious because it's identical to `ToStripeParam Prorate` and IMO Stripe API expects `at_period_end`.

I changed this locally, but Stripe backend still doesn't like the request sent by
https://github.com/dmjio/stripe/blob/master/stripe-tests/

[2016-04-18 10:00] tlaitinen opened #39 "test suite failures (106 examples, 20 failures)"
See full log at http://pastebin.com/mFZAkw13

[2016-04-18 10:08] tlaitinen commented on #39
Actually, the only real failure is:

[code]

[2016-04-18 11:42] tlaitinen commented on #38
I modified ```Web.Stripe.Client.HttpStreams``` to print the request headers and body. I also removed the version parameter to test if it had any effect.

The following HTTP request (auth changed) was not parsed by the Stripe backend:
[code]

I pasted the text above in a text file, added another header ```Content-Length: 18```, and fed it to ```ncat --ssl api.stripe.com 443```. Then the request was

[2016-04-18 11:58] tlaitinen commented on #38
https://github.com/tlaitinen/stripe/commit/e9967417dd07ce113bbaad472a94b54980d79d66 fixes the issue.

[2016-04-18 13:37] #34 closed

[2016-04-18 20:38] bitemyapp opened #40 "Dubious Customer type"
https://github.com/dmjio/stripe/blob/master/stripe-core/src/Web/Stripe/Types.hs#L245-L263

Sum of product with exported record fields is a good way to get accidental partial functions. Is there a reason it is implemented in this manner for what should probably be a split out sum type or error condition of the GetCustomer request?

[2016-04-18 20:40] bitemyapp opened #41 "UpdateSubscription"
Having a hard time understanding what UpdateSubscription is meant to do. It takes a subscription id rather than a value as an argument, implying you're supposed to create a new subscription and then swap the customer over to that.

However, the documentation doesn't say one way or the other:
![screenshot from 2016-04-18 15-39-20](https://cloud.githubusercontent.com/assets/320177/14619167/be335884-

[2016-04-18 20:42] dmjio commented on #40
yea, this is a known problem, https://github.com/dmjio/stripe/issues/18

[2016-04-18 20:58] dmjio commented on #41
Yea, it is unclear. We've changed the way we handle optional parameters in records to use typeclasses instead (@stepcut 's approach) and it's pretty slick. So the fields that are eligible for updates are here:
http://hackage.haskell.org/package/stripe-core-2.0.2/docs/Web-Stripe-Subscription.html#t:UpdateSubscription

And to annotate the `UpdateSubscription` with what you want to update you'd use t

[2016-04-18 21:13] dmjio commented on #39
@tlaitinen, thanks for this. I do believe the `Events` API is the only part of Stripe's API where the version in your dashboard takes precedence over the one specified in the request. Which just means the JSON returned for an Event would be based on a newer API, potentially causing a parse failure. Can you check your dashboard to see what API version you're on. @matthewarkin might be able to confi

[2016-04-19 02:59] dmjio commented on #41
@bitemyapp but yea, to answer the original question, the `CustomerId` and `SubscriptionId` are meant to identify a single subscription (if it exists), and then the `HasParam` instances are what can be updated on that single subscription. If it doesn't exist, it will probably just `Left` error on you. But yea, everything in that link /also/ happens, so caveat emptor.

[2016-04-19 05:42] tlaitinen commented on #39
It says that the API version is 2016-03-07 (latest).

[2016-04-19 05:53] matthewarkin commented on #39
The event object itself will correspond to the API version specified, but the problem is the `object` of the event object will be formatted in your dashboard version.

Since the error is specifying card not being set, I'm assuming that this library is before the big card -> sources shift.

[2016-04-19 20:35] bitemyapp opened #42 "What is 'object' and why does it keep clashing with my Aeson stuff?"
![screenshot from 2016-04-19 15-33-49](https://cloud.githubusercontent.com/assets/320177/14654640/51471912-0644-11e6-9a01-47f6afe93647.png)

Keep having to do this to avoid ambiguous imports.

[2016-04-19 20:36] bitemyapp commented on #41
@dmjio the HasParam thing seems counter-productively implicit to me. I had no idea from the types, documentation, `:info`, anything that this was a thing or that I needed to use `-&-` and the fields to specify new data.

[2016-04-19 21:03] dmjio commented on #41
Yea, we need to document it better in the examples. Some examples demonstrate usage though, http://hackage.haskell.org/package/stripe-core-2.0.2/docs/Web-Stripe-Coupon.html

[2016-04-19 21:04] dmjio commented on #41
`:info` on `UpdateSubscription` should give you the instances though, let me know if it doesn't.

[2016-04-19 21:09] dmjio commented on #42
It's from `StripeList`, which is how stripe performs pagination. `object` identifies the kind of json object this is, seems like an internal stripe thing. Maybe @matthewarkin can comment on `object`
[code]

[2016-04-19 21:12] dmjio commented on #42
The `object` field is common to most stripe JSON responses. We could probably have named it differently to avoid the clash though. Would be a moderately large breaking change of course. Although I doubt there is much usage of that field.

[2016-04-19 21:19] dmjio commented on #42
@bitemyapp do you want me to rename it to something else? :)

[2016-04-23 13:25] tlaitinen commented on #39
Is someone working on this? If not, then I can have a look at this.

[2016-04-23 14:47] dmjio commented on #39
@tlaitinen, sounds good. I think the only thing to do is ignore the tests for events since it isn't governed by the API version specified in the request header.

[2016-04-23 14:58] tlaitinen commented on #39
I'm interested in parsing the events correctly sent by the latest API 2016-03-07. It does not seem possible to downgrade to an older version of the API. I wonder if I can just modify Event and the corresponding FromJSON instances and have it work.

[2016-04-26 11:17] tlaitinen commented on #39
The commits https://github.com/dmjio/stripe/commit/ed087cfe21d47d6840cb3fdb141f9d65b172face https://github.com/dmjio/stripe/commit/0ddf4ca361484d4ef63cb10c70df15be78c7a81f and https://github.com/dmjio/stripe/commit/577044368d4e1319f7192814ab0af87d72d4c425 fix the webhook parsing for a few event types. However, they probably cannot be merged upstream because users may be using an older version of t

[2016-05-26 21:22] creichert opened #43 "GHC 8 Support"
A new stackage nightly is ready for GHC 8 (`nightly-2016-05-26`). `stripe-haskell` was temporarily pulled from stackage for GHC 8 compatibility. I haven't taken a look at the specifics yet but it would certainly be nice to support this as quickly as possible.

Links for reference:
- https://github.com/fpco/stackage/blob/master/build-constraints.yaml#L19
- https://www.fpcomplete.com/blog/2016/05/mo

[2016-05-26 21:33] creichert commented on #43
The first round of errors I hit have to do with version bounds:

[code]

I bumped the `stripe-core` and `stripe-tests` versions for `time` & `transformers` but didn't have any luck w/ `http-streams` yet.

[2016-05-26 22:02] creichert commented on #43
I filed an issue for `http-streams` here: https://github.com/afcowie/http-streams/issues/96

I believe some of the necessary changes have been made in `snap-core` already:
snapframework/snap-core#255

[2016-05-26 23:23] dmjio commented on #43
I'll try to fix this tonight

[2016-05-27 01:39] dmjio commented on #43
https://github.com/dmjio/stripe/pull/44

[2016-06-02 22:32] dmjio commented on #43
@creichert this should be done, pending afcowie/http-streams#96

[2016-07-04 19:35] whittle commented on #39
I’m also running into this issue.

[2016-07-04 19:39] dmjio commented on #39
@whittle it seems you may have to use a custom json parser for events now, since, according to @matthewarkin,

If your dashboard version is greater than 2014 (which I assume it is), then the events returned will be of a different version.

[2016-07-04 23:28] whittle opened #47 "Parsing fails due to "deleted" key not being present when implementing new library"
I’m writing an adapter library that uses stripe-core over http-conduit: https://github.com/whittle/stripe-http-conduit. It also leverages stripe-test as its test suite. I’m attempting to follow the example of stripe-http-streams as much as possible, but I’m getting a weird parse failure when I run the tests. Specifically, 80 of the test cases fail with the parse error `key "deleted" not present`.

[2016-07-05 01:08] dmjio commented on #47
Hey Jason, can you confirm the Stripe API version is being passed along in the HTTP header on the request.

Sent from my iPhone

[2016-07-05 02:33] whittle commented on #47
Logging the request objects before I send them, the header that I’m setting is `Stripe-Version: 2014-10-07`. I’m using the `V20141007` constructor from `Web.Stripe.Client`. The API version set in the dashboard is “2016-06-15 (latest)”.

By the way, thank you for making such an excellent set of libraries. Its design and implementation are a credit to the Haskell community.

[2016-07-07 00:33] dmjio commented on #47
@whittle, thank you, very kinds word of you.

So the version in the request should be overriding the version in your dashboard (this is true for all endpoints except historical data retrieval). As to why `deleted` wouldn't parse, that remains a mystery, the JSON instances from this library haven't changed. Unsure why a new http-client would cause a parse failure.

Can you paste some of the json th

[2016-07-07 16:20] whittle commented on #47
As an example, here’s the result I get back from Stripe that causes an error in the test “Succesfully retrieves an Expanded Balance Transaction” (in response to a POST to /v1/customers/cus_8lFm4B1DHbhPc5):

Right (Object (fromList [("email",Null),("discount",Null),("livemode",Bool False),("default_card",String "card_18TjGZBfKr2Hg7NanRMY77CD"),("created",Number 1.467685587e9),("sources",Object (fro

[2016-07-07 16:28] dmjio commented on #47
ah, which version of aeson are you using?

[2016-07-07 16:28] dmjio commented on #47
`stack exec ghc-pkg list | grep aeson`

[2016-07-07 16:30] whittle commented on #47
⇒  stack exec ghc-pkg list | grep aeson
    aeson-0.11.2.0

[2016-08-16 16:55] bitemyapp opened #48 "A release soon please?"
I'd like to take this out of my `packages` in my `stack.yaml` so I don't have stuff spuriously rebuilding. It's making my CI murder.

[2016-08-16 21:18] dmjio commented on #48
@bitemyapp now that `snap-1.0` is released, I believe we can update.

[2016-08-16 21:18] dmjio commented on #48
on vacation, but will do soon.

[2016-09-20 16:25] jasonzoladz commented on #48
@bitemyapp

`stripe-core` is now in lts-7.0, but no sign yet of `stripe-http-streams`.  In the meantime, I'm using `http-conduit` as a backend, like so.  (I'm not using HsOpenSSL because there are problems on OSX.)

[code]

[2016-10-01 01:25] thoughtpolice opened #49 "createCharge fails on Bitcoin payments from Checkout.js"
If Checkout.js is used to generate a `TokenId` which was created using the Bitcoin option ([see here](https://stripe.com/docs/bitcoin)), then `createCharge` will fail.

The Stripe API endpoint does _not_ respond with a `card` field inside the `Charge` object when the charge is made with Bitcoin. As a result, the `Charge` `FromJSON` instance fails to parse the object. This results in a charge that

[2016-10-01 01:26] thoughtpolice commented on #49
And to be clear, I don't necessarily propose the above patch as an actual fix. A real fix would be a bit more involved.

If the `cardCountry` fix and this `card` bug could be fixed and would be accepted upstream - even with an API break - would you be open to a PR?

[2016-10-01 02:28] #42 closed

[2016-10-01 02:47] bitemyapp commented on #42
@dmjio >do you want me to rename it to something else? :)

Having thought about it yes, but only on the next major version so it's rolled in with something else.

[2016-10-01 02:47] dmjio commented on #49
@thoughtpolice,

Thanks for bringing this issue to light. While it is shocking that a `Card` would not exist on a `Charge` object, I assume this is residue from Stripe adding Bitcoin much later in their API design process. Stripe probably made the `Card` field `null` since it wouldn't make sense in this context. I assume these changes weren't present in the change log either, and Stripe's document

[2016-10-01 02:53] dmjio commented on #42
@bitemyapp how does `stripeObject` sound?

[2016-10-01 03:10] bitemyapp commented on #42
@dmjio lurvely.

[2016-10-01 03:30] thoughtpolice commented on #49
Oh, and actually I'm *not* 100% sure if that patch alone fixes it... It *seems* like it does, and I can receive donations when I look in the dashboard (I see the charge) -- but then Stripe sends an email shortly afterwords saying something went wrong, and they're offering a refund with a URL to follow (even though I'm in test mode already?!) I have no clue why just yet, but I haven't tried it *out

[2016-10-01 03:49] dmjio commented on #49
Hmm that's strange, unsure why `dev` mode would have that behavior. Definitely keep me posted. Feel free to PR in the meantime, and when resolved, we can release.

[2016-10-01 03:54] dmjio commented on #49
cc @matthewarkin if you have any insight as to why donations would behave differently would be appreciated :) @thoughtpolice, https://support.stripe.com/questions/does-stripe-offer-a-fee-discount-for-non-profit-organizations wonder if API calls would be altered depending on organization status.

[2016-10-01 05:21] thoughtpolice commented on #49
Actually, I think I figured it out. It was because you have to actually enable *live* Bitcoin transfers in your account, which requires to agreeing to a few extra TOS about conversions, etc. Maybe?

Since I enabled that I don't think I've gotten any more emails, and my prior ones actually do look OK (the Dashboard says the API responded with 200 to charges with Bitcoin `TokenId`s, even the ones wh

[2016-10-01 19:43] dmjio commented on #49
@thoughtpolice, ah, makes sense I guess. I bet we could provide a test for this too. I can append it to your PR

[2016-10-01 19:52] dmjio commented on #49
As long as we can create a token corresponding to a bitcoin transaction, it should be testable.

[2016-10-01 21:00] thoughtpolice commented on #49
Bitcoin charges come in the form of `py_something`, where normal charges are `ch_something`. I haven't looked at the API for actually generating a charge based on the bitcoin receiver or anything (I still need to read their docs a bit more...). Here's a log from my server in test mode:

[code]

[2016-10-02 04:58] dmjio commented on #49
Well that looks promising to me :) but yes, additional info would help. Might also want to let stripe know about the 501(c)3 status, it seems there is a small fee on bitcoin transactions. Docs also talk about a `source` object, seems to be newer functionality unsupported in our current API.

https://stripe.com/docs/api#sources

[2016-10-02 04:59] dmjio commented on #49
This lib is due for an upgrade anyways, `OverloadedLabelFields` + `servant-client` + `aeson` generics would really simplify things. Just hard since there is no machine readable spec, must always play catch up.

[2016-10-14 21:02] bitemyapp opened #52 "Tedious imports"
![screenshot from 2016-10-14 16-01-18](https://cloud.githubusercontent.com/assets/320177/19402594/796ba344-9227-11e6-83d1-a9b18f9f2ba2.png)

This really should not be an error when I was already importing `Web.Stripe`. Is there an import that gathers everything together which I am missing?

[2016-10-14 21:40] dmjio commented on #52
`Web.Stripe.Errors` should be getting re-exported but it isn't.

[2016-11-10 02:41] 3noch commented on #43
The blocking issue is now closed. Is this done?

[2016-11-10 02:46] 3noch commented on #52
Re-exported from what?

[2016-11-10 03:04] 3noch commented on #49
Any news on this?

[2016-11-10 03:47] dmjio commented on #52
from `Web.Stripe`

[2016-11-10 04:02] dmjio commented on #49
@thoughtpolice, hai :)

Is haskell.org still using your fork of this lib?

[2016-11-10 21:06] thoughtpolice commented on #49
Yes, but I haven't deployed it yet because busy. The patch is still the same, and the source is here: https://github.com/thoughtpolice/haskell-donate/

[2016-11-16 00:26] creichert commented on #43
I'm assuming this issue is fixed, yet stripe-haskell is still not available in stackage: https://github.com/fpco/stackage/blob/master/build-constraints.yaml#L69

[2016-11-16 00:48] dmjio commented on #43
@creichert, I have a few other fixes to batch up, but I can try to push out a release this week to hackage, and stackage.

[2016-11-16 00:50] creichert commented on #43
@dmjio That would be really awesome, thank you

[2016-11-16 01:47] 3noch commented on #43
@dmjio Yah I need this too.

[2016-11-16 03:00] creichert commented on #43
One quick note, it appears that stripe is blocked on aesone-1.0: https://github.com/fpco/stackage/blob/master/build-constraints.yaml#L71

I haven't yet had a chance to try tweaking version bounds but i'll speak up if I get there first :)

[2016-11-19 02:29] 3noch commented on #48
@jasonzoladz I'm on macOS too. Is the above code still working well for you?

[2016-11-19 11:51] jasonzoladz commented on #48
@3noch

We use it in production here: https://www.unionizeme.org  Works fine.

[2017-01-18 06:02] dmjio opened #55 "Add http://alexeyzabelin.com/haskell-api-wrapper to README"
This provides much-needed documentation on @stepcut's optional query parameter usage.
http://alexeyzabelin.com/haskell-api-wrapper

[2017-01-28 05:22] jazzyeagle commented on #43
I was able to get the code to compile using GHC 8.0.2 (using Stack Nightly-2017-01-27) by modifying the constraints for hspec (<2.4) & and hspec-core (<2.4).  It built w/ version 2.3.2 for both.  Any way we can get this updated and then have stack updated to include stripe as part of the lts again?

Thanks!

[2017-02-12 07:59] dmjio commented on #48
@bitemyapp @jasonzoladz `2.2.0` is on hackage

[2017-02-12 09:22] #48 closed

[2017-02-12 21:21] bitemyapp commented on #48
@dmjio thank you!

[2017-02-12 22:03] dmjio commented on #48
@bitemyapp no problem!

[2017-02-13 05:44] dmjio commented on #43
@jazzyeagle @creichert ghc80* is now supported, is there anything I need to do specifically to ensure it's on stackage?

[2017-02-14 11:00] cdepillabout commented on #43
@dmjio I believe you have to send a PR that edits the stackage `build-constraints.yaml` file and make sure the stripe libraries are uncommented:

https://github.com/fpco/stackage/blob/master/build-constraints.yaml#L90

From what I've heard, the stackage maintainers will sometimes do this for you manually, but they don't do it on a regular basis, so you might be waiting a couple weeks.  The easiest

[2017-03-04 20:53] dmjio commented on #43
@cdepillabout @creichert @jazzyeagle, `stripe-*` is now compatible with GHC8. Going to close this and make separate issue for LTS.

[2017-03-04 20:53] #43 closed

[2017-03-04 20:55] dmjio opened #62 "Stripe needs to be in latest LTS"
https://github.com/fpco/lts-haskell/issues/38

[2017-03-04 20:56] dmjio commented on #41
Going to close this issue. There is another issue that provides links to a blog post on how to use `-&-`

[2017-03-04 20:56] #41 closed

[2017-03-04 20:58] dmjio commented on #6
It seems that @stepcut has added his recommendations to this project, and this issue can therefore be closed.

[2017-03-04 20:58] #6 closed

[2017-03-04 21:02] dmjio commented on #52
https://github.com/dmjio/stripe/pull/63

[2017-03-04 21:03] dmjio commented on #40
Closing because duplicate of #18

[2017-03-04 21:03] #40 closed

[2017-03-04 21:10] dmjio commented on #24
Added in https://github.com/dmjio/stripe/commit/540b580813a2f243856b5a32a04737287a1e2f93

[2017-03-04 21:10] #24 closed

[2017-03-04 21:13] dmjio commented on #39
`Events API` is a black sheep since it is the only API endpoint where you cannot use version `2014`. This is because you are receiving an async notification and there is no way to specify a version other than what is in your dashboard. I'd recommend keeping your dashboard to an old API version, or writing your own custom parser to be used which is possible with the `*-raw` functions.

[2017-03-04 21:13] #39 closed

[2017-03-04 21:14] #10 closed

[2017-03-05 01:03] #52 closed

[2017-03-05 01:04] dmjio commented on #20
Not until we upgrade, postponing and closing.

[2017-03-05 01:04] #20 closed

[2017-03-05 01:24] dmjio commented on #31
Not until we switch to servant.

[2017-03-05 01:24] #31 closed

[2017-03-05 01:25] dmjio commented on #38
@tlaitinen thanks again for this change!

[2017-03-05 01:25] #38 closed

[2017-03-05 01:50] dmjio commented on #49
https://github.com/dmjio/stripe/pull/64

[2017-03-05 01:53] dmjio commented on #28
@andrewthad @tdimiduk polite ping :)

Can this issue be closed?

[2017-03-05 03:25] dmjio commented on #19
Should be fixed in https://github.com/dmjio/stripe/pull/64

[2017-03-05 03:25] #19 closed

[2017-03-05 07:01] dmjio commented on #55
https://github.com/dmjio/stripe/pull/65

[2017-03-05 07:01] #55 closed

[2017-03-05 07:02] dmjio commented on #49
In `HEAD`, so closing.

[2017-03-05 07:02] #49 closed

[2017-03-05 07:02] #28 closed

[2017-03-05 07:29] dmjio commented on #18
This issue is a bit of a pickle. I've implemented:
[code]
All the tests pass except for one. For some reason removing a discount on a customer actually deletes the customer. Still pondering...

[2017-03-05 22:23] bitemyapp commented on #18
wot

[2017-03-05 23:26] dmjio commented on #18
Yea, unsure why. Maybe some actions are being called out of order.

[2017-03-06 06:49] cdepillabout commented on #62
Loos like it is now in 8.4:

https://www.stackage.org/package/stripe-haskell

[2017-03-06 07:33] dmjio commented on #62
Awww yea 🍾

/me goes back to using nix.

[2017-03-06 07:33] #62 closed

[2017-04-05 16:43] emhoracek opened #67 "Adding a "Stripe-Account" header"
First off, thanks for maintaining this great library!

So, I have an app with a Stripe account that needs to make charges for and charge fees to other accounts. So, we can use [Stripe Connect](https://stripe.com/docs/connect) for that! And just using API keys  from the other accounts along with the ApplicationFee param works great.

However, Stripe _prefers_ that apps use [this form of authenticat

[2017-04-17 20:57] dmjio commented on #67
Hi @emhoracek, and thank you :)

Unfortunately, this library does not (yet?) support Stripe Connect. It was actually added to the old `stripe` library by @LukeHoersten. If you ask nicely maybe he'll make a PR into this project :)

I'm not too familiar with your specific use case, but if your use case is simply to add a header to a request I can most likely create functionality to accommodate your

[2017-06-06 16:52] legrostdg opened #72 "get total number of charges"
I need to get the total number of paid charges, and the total number of refunded charges. With curl, I can do:

    curl 'https://api.stripe.com/v1/charges?paid=true&limit=0&include\[\]=total_count' -u sk_test_mykey:
    curl 'https://api.stripe.com/v1/charges?refunded=true&limit=0&include\[\]=total_count' -u sk_test_mykey:

I don't get how to get this with stripe-haskell, though: it always return

[2017-06-06 17:56] dmjio commented on #72
If you run this code with your secret key, does it return a list of charges? If so, can you filter by
[code]
If so, can you filter by `chargePaid` and `chargeRefunded` ?

[2017-06-06 17:58] dmjio commented on #72
I assume you want to specify a customer as well, so you'll need to do:
[code]

[2017-06-06 18:08] legrostdg commented on #72
I'm not sure you understood what I meant: what I want is the total number of all charges (charges paid and charges refunded, but that's a detail). `stripe config (getCharges -&- Limit 0)` returns:

    Right (StripeList {list = [Charge {chargeId = ChargeId "ch_1ARl4RLcbELZNEfI00NB1Wic", chargeObject = "charge", chargeCreated = 2017-06-06 17:02:19 UTC, chargeLiveMode = False, chargePaid = True, cha

[2017-06-06 18:30] dmjio commented on #72
@legrostdg, I understand now.

Per the wayback machine (to verify w/ the 2014 API version we use), it seems like this is possible.

https://web.archive.org/web/20141129193408/https://stripe.com/docs/api#list_charges

After looking at the code, it doesn't seem like we've added this case when constructing the query parameters. But since the param API is extensible (thanks to @stepcut) it might be po

[2017-06-06 18:43] legrostdg commented on #72
Oh, great, I didn't notice how easy it is to extend the API!
I guess I can manage my usecase now, with your TotalCount and with new ChargePaid & ChargeRefunded params. This may be a nice addition to `stripe-haskell`... Do you want me to submit a pull request for this?

Thanks a lot for this and for having checked the availability of include[]=total_count in the API version.

[2017-06-06 18:50] dmjio commented on #72
@legrostdg, No problem. Glad it's working. If you created a PR for this, I would gladly accept it.
From those API docs, it seems the endpoints that support `include[]=total_count` are the following:

- Refunds
- Customers
- Cards
- Subscriptions
- Plans
- Coupons
- InvoiceItems
- Transfers
- Recipients
- ApplicationFeeRefunds
- Balance
- Events

Should help guide which instances need to be defined

[2017-06-07 02:31] dmjio commented on #72
@legrostdg, marking as resolved, therefore closing. Please let me know if I should keep open.

[2017-06-07 02:31] #72 closed

[2017-07-17 10:38] bchase opened #74 "Clarification on running tests"
Hi! I'm rather new to Haskell, and am hoping to fork and extend this library to use a more current Stripe API version (I mostly just need Connect and Bank Accounts), but I cannot quite figure out how to run the tests.

I noticed the `default.nix` file at the project root, installed Nix, and successfully ran `nix-build`, which appears to have compiled everything, but now I'm unsure of where and how

[2017-07-18 20:29] dmjio commented on #74
Hi @bchase, thanks for the kind words, and thanks taking initiative on this. Apologies there isn't better documentation for contributors yet. In regards to running the tests, I'd run them from the `stripe-http-streams` package. To do that I'd first build that package using the following command:

[code]

And then inspecting the `result` folder, the tests should be present in there, and runnable. B

[2017-07-18 20:31] dmjio commented on #74
Also, to be in an environment, where you can build `stripe-http-streams`, with the tests. I'd call,
```nix-shell -A stripe-http-streams.env```
then call
[code]

[2017-07-20 03:17] bchase commented on #74
Awesome! Thanks @dmjio. I'll give this a try and report back! :slightly_smiling_face:

[2017-07-20 03:21] dmjio commented on #74
@bchase 🍻

[2017-07-23 20:43] bchase commented on #74
It worked! :raised_hands:

## Nix

I found that it does only show `PASS` for the success case:

[code]

But for the failure case it lists the whole suite of tests, marks the failures, and shows what failed:

[code]

## Cabal

I couldn't figure out how to get the `cabal build` version to work though, as I ran into the following errors:

[code]

This assumes that I should be in `stripe-http-streams/

[2017-07-23 20:49] dmjio commented on #74
@bchase fantastic :)

The haddock issue is troubling, and it might be a problem with nix itself, when it constructs the immutable `ghc-pkg` list.

Any PR's to update documentation regarding `nix-build` would be awesome. In fact, if you wanted to go ahead and write `Contributing.md` I'd gladly accept it.

[2017-07-28 13:41] peti opened #75 "Support for recent versions of aeson?"
Is there any chance we could get an update of this package that adds support for recent versions of aeson?

[2017-07-28 16:34] 3noch opened #76 "Add to Stackage"
This would get the library onto nixpkgs as well.

[2017-07-28 21:51] dmjio commented on #75
@peti, for sure, I've pushed `2.2.2` which supports a more recent `aeson`.

[2017-07-28 21:52] dmjio commented on #75
Re-open if this is still an issue.

[2017-07-28 21:52] #75 closed

[2017-08-24 08:07] ncaq commented on #76
It is not in lts-9.*.

I can not upgrade, so I am in trouble.

Even if you specify version 2.2.2 in the `extra-deps` record, the version of` aeson` does not match and installation can not be done.

As I looked at the `cabal` file now, there seems to be no problem with the version specification.

Is it slow to reflect on stackage?

I tried to make a pull request but I was not familiar with nix so I

[2017-08-24 08:09] ncaq commented on #76
It is not in lts-9.*.
I can not upgrade, so I am in trouble.

Even if you specify version 2.2.2 in the `extra-deps` record, the version of` aeson` does not match and installation can not be done.

Although I looked at the `cabal` file, it seems that there is no problem with version specification.

I tried to make a pull request but I was not familiar with nix so I did not know how to do consistenc

[2017-09-01 11:20] chreekat commented on #76
@dmjio anything I can do to help out here?

[2017-09-23 09:17] chreekat commented on #76
Little status update ..

My first step was to make sure tests still pass. For expediency I reran 'stack init' to get a relatively recent resolver, then tweaked some things to get builds working on NixOS, then ran the tests. I get one failure. So, right now the path to completing this issue is:

1. [ ] Fix test failure
2. [ ] Bump dependencies, dealing with any potential breaking changes (new versi

[2017-09-23 09:23] chreekat commented on #76
There's the build/test branch. Never mind my force push :|

[2017-09-26 21:39] alexeyzab opened #79 "Stripe TLS 1.0 Error on macOS"
Hi there! I seem to be getting the following error on macOS 10.12.6:

[code]

I am using the following library versions:
[code]

I have a vague feeling that this might have to do with me not authorizing properly or maybe it has to do with macOS and OpenSSL, but in case it's not that, could you weigh in on what the issue might be here?

**UPD**: Yep, it was an issue with my OpenSSL version.

Thanks

[2017-09-27 01:18] #79 closed

[2017-10-10 02:16] dmjio commented on #76
https://github.com/fpco/stackage/pull/2942

[2017-10-10 02:16] #76 closed

[2017-11-27 22:53] jkarni opened #81 "Customer incorrectly parses as deleted."
With "Stripe-Version: 2014-10-07", a GET to `v1/customers/cus_BoNe5SkscQSGWA` with some test data gives me:

[code]
Parsing this, however, gives me a `DeletedCustomer`. Prior to adding a card and subscription, the customer parsed correctly, so I imagine this is an issue parsing one of those nested types (or `Plan`).

More generally, the `FromJSON` instance for `Customer` seems dangerous - failures

[2017-11-28 07:21] dmjio commented on #81
@jkarni hey! 👋

Ah, yea, that definitely seems like a bug. The `DeletedCustomer` default parsing rules might need some changing, its something I can look into when I get free.

[2017-12-03 01:44] dmjio commented on #81
Also, if you get a chance to fix this on your own, a PR is appreciated!

[2017-12-11 21:54] jkarni commented on #81
On it!

[2018-01-17 11:09] nmattia opened #82 "Symlink README to stripe-haskell/README"
The README.md has the following snippet:

[code]

which doesn't compile, because `StripeKey` has no `IsString` instance. As I was submitting a PR, I realized that @bitemyapp had already fixed it for `stripe-haskell/README.md` in 538aae94e812a050698bbd432af2ec6b0fc58cb1. Both READMEs look very similar, maybe symlink one to the other?

[2018-01-22 18:09] nmattia opened #83 "Retrieving all subscriptions"
The Stripe API allows [retrieving _all_ subscriptions](https://stripe.com/docs/api/curl#list_subscriptions), _i.e._ not only those associated with a particular customer ID. However the `stripe-haskell` library only allows retrieving subscriptions by customer ID:

https://github.com/dmjio/stripe/blob/master/stripe-core/src/Web/Stripe/Subscription.hs#L189

I've created a fork where I can retrieve al

[2018-01-23 05:44] dmjio commented on #83
Renaming `getSubscriptions` to `getSubscriptionsByCustomerId`, and then introducing
[code]
would be totally fine with me.

[2018-01-23 05:57] dmjio commented on #82
https://github.com/dmjio/stripe/commit/1ee34815549473614c9dcdd77f8ce9f3e305bf33

[2018-01-23 05:57] #82 closed

[2018-01-23 06:14] #83 closed

[2018-01-23 08:52] dmjio commented on #81
@jkarni any updates on this per chance?

[2018-01-23 08:53] dmjio commented on #74
Closing for now, reopen if necessary.

[2018-01-23 08:53] #74 closed

[2018-01-23 10:05] nmattia opened #89 "Add support for stripe pagination"
It would be nice if the library supported pagination natively, so that the user doesn't have to do it themself. The [`wreq`](https://www.stackage.org/haddock/lts-10.3/wreq-0.5.2.0/Network-Wreq.html#v:responseLink) library, for instance, has some basic support for this.

I'm not sure what exactly this should look like, and if the library wants to provide such higher-level helpers at all. Just in ca

[2018-01-23 10:06] nmattia opened #90 "Add support for http-client"
This library has a wonderful pure core module. It should be straightforward to use the widely used [http-client](https://hackage.haskell.org/package/http-client-0.5.8) library.

[2018-01-23 17:53] dmjio commented on #90
@nmattia I'd gladly remove `http-streams` in favor of `http-client`, wouldn't be opposed to reconciling all packages back into one either.

[2018-01-23 17:54] dmjio commented on #90
@nmattia for now, maybe an `http-client` backend would suffice, we could make it the default.

[2018-01-26 12:52] ocharles opened #91 "Landing page example no longer type checks"
https://hackage.haskell.org/package/stripe-haskell-2.3.0/docs/Web-Stripe.html has

[code]

But this library doesn't even have `Web.Stripe.Account`.

[2018-01-26 12:57] ocharles commented on #91
OK, I see now I also need https://hackage.haskell.org/package/stripe-core - I think this should be mentioned somewhere. It took quite a bit of hunting!

[2018-01-26 18:48] dmjio commented on #91
Yea this does seem problematic, I'd assume `stripe-haskell` would be re-exporting the modules from `stripe-core`.

[2018-01-29 14:12] ocharles opened #92 "Cannot supply the "source" parameter when creating a charge"

[2018-01-29 14:20] ocharles opened #93 "No support for sources"
It seems that the whole [sources API](https://stripe.com/docs/api#sources) is unimplemented. Is that correct?

[2018-01-29 17:40] dmjio commented on #93
I don't believe so. At least, it wasn't possible to perform CRUD on sources in the 2014 version of the API. Although, there was some notion of a "source", but I think it referred to something different (like a parent object). This new source API seems to be related to payment methods.

Here is a list of endpoints this library is based on,
https://web.archive.org/web/20140802220818/https://stripe.c

[2018-02-20 17:36] chris-martin opened #94 "Webhook signature verification"
Is there any support for verifying the [`Stripe-Signature`](https://stripe.com/docs/webhooks/signatures) HTTP header for webhooks?

[2018-02-21 01:40] iand675 opened #95 "Idempotent request support?"
Stripe supports setting a header that uniquely identifies requests in order to perform said requests idempotently. It would be great to include support for this feature. Thoughts?

https://stripe.com/docs/api?lang=curl#idempotent_requests

[2018-02-27 23:28] chris-martin opened #96 "Test failure: "key \"evidence_due_by\" not present""
[code]

Stripe's changelog indicates that `evidence_due_by` was replaced by `evidence_details` in 2014.

[2018-05-11 21:19] bsima commented on #96
I started work on this but couldn't figure out how to run the tests. @dmjio any advice?

[code]

[2018-05-12 16:33] dmjio commented on #96
First step would be to get into a shell for stripe-http-streams (stripe-tests is used in the test suite of stripe-http-streams). Next step would be to ensure dependencies are all correct (contingent on your nixpkgs version). Bump the upper bounds if need be. Then once you can cabal configure —enable-tests, run “cabal test” in that shell.

Sent from my iPhone

[2018-06-11 17:11] creichert commented on #90
I have an `http-client` backend I've used across multiple projects for a while now. It's really simple and completely API compatible w/ `stripe-http-streams`. This has helped me lower the dep profile of projects and reuse existing http-client(-tls) related libs i was already using.

My current plan is to check-in the `stripe-http-client` backend first. Then, in a separate PR I want to add a cabal

[2018-06-11 18:12] dmjio commented on #90
Sounds fantastic, I’ll merge when ready. Also, I would not at all be opposed to making http-client the default backend for stripe-haskell.

Sent from my iPhone

[2018-06-27 03:59] #90 closed

[2018-08-01 23:16] pushcx commented on #92
This is a dupe of #93

[2018-08-02 00:48] #92 closed

[2018-09-12 19:31] romulogarofalo opened #101 "trying to make a charge, but no instance of newCard for StripeHasParam"
I'm trying to make a charge but even if the code be equal as in the docs is not working

[code]

[code]

[2018-09-17 21:18] eddiew opened #102 "Update aeson version for stripe-http-client"
The package specifies `aeson >=0.8 && <0.10 || >=0.11 && <1.3`, while the newest aeson is `1.4.0.0`

[2018-10-13 23:24] aaronallen8455 opened #103 "No CustomerId param instance for GetInvoices"
`GetInvoices` should have a param instance for `CustomerId` so that we can get the invoices for a specific customer.

[2018-10-14 04:46] dmjio commented on #102
https://github.com/dmjio/stripe/commit/505002f16a375048682c6d85004193cf2b0ede8f

[2018-10-14 04:46] #102 closed

[2018-11-12 09:47] dariooddenino opened #105 "`mzero` error on refunds"
Hello! I'm on version 2.4.0.

When I try to refund a charge, I get this error:
`(StripeError {errorType = ParseFailure, errorMsg = "mzero", errorCode = Nothing, errorParam = Nothing, errorHTTP = Nothing})`

The transaction is actually refunded and everything looks fine on stripe side. Any idea of how I can debug this, since the error message is not helping at all?

Thanks!

[2018-11-12 10:29] dmjio commented on #105
It looks like that (extremely unhelpful) error is originating here: https://github.com/dmjio/stripe/blob/master/stripe-core/src/Web/Stripe/Types.hs#L215

The first thing we should is remove all the calls to `mzero` and replace them with `withObject`:
[code]

This way we'll at least see what field / object it failed to decode on. Another thing to do is look at the wayback machine of stripe's API do

[2018-11-12 15:56] MIJOTHY commented on #102
The version looks like it was bumped to `<1.4.0` - what's the reasoning behind not allowing 1.4.0? Cheers.

[2018-11-14 20:36] dmjio commented on #101
I would remove the `Just` constructor. There is an instance of `StripeHasParam CardInfo` (per https://github.com/dmjio/stripe/blob/a0920af3e2232ed35c8d74fc900a17d0267358d3/stripe-core/src/Web/Stripe/Customer.hs#L102), but not `StripeHasParam (Maybe CardInfo)`

[2018-11-14 20:36] #101 closed

[2018-11-16 09:07] dariooddenino commented on #105
Thanks for the info! I will check what's failing to parse as soon as I have some time :)

[2018-11-16 18:34] dmjio commented on #105
@dariooddenino another thing we could do is check your stripe API logs, and try to decode them into the `Refund` type. Go to https://dashboard.stripe.com/<account>/logs and try to find the response body you received and paste it here.

[2018-11-20 03:44] #105 closed

[2018-11-20 03:44] dmjio commented on #105
#109

[2019-01-22 09:48] MIJOTHY opened #110 "Stripe version upgrade?"
From the readme it looks like there are intentions to increment the hard-coded API version:

Are there any plans to do this (or guidelines for pull requests for version bumps)? From [this issue](https://github.com/dmjio/stripe/issues/24) it looks like we can use `stripeRaw` to define our own extensions to the library. However, the issue with staying with an old version for users is that, from the

[2019-03-06 20:56] linzjax opened #112 "Allow customizable HTTP.host?"
I was hoping to use [stripe-mock](https://github.com/stripe/stripe-mock) to test our billing process. Unfortunately, stripe-mock only accepts the latest version of the API (Related to Issue #110). The other issue is that stripe-mock let's you run a fake stripe API on your local machine, but the HTTP.host for this client is currently hardcoded to "api.stripe.com", which makes sense but does make it

[2019-03-06 23:02] dmjio commented on #112
Hey @linzjax ,

I've added a branch here for this https://github.com/dmjio/stripe/pull/113. Maybe it would be possible to use `stripe-mock` as a forcing function to upgrade this library (which is by the way looong overdue).

[2019-03-08 14:21] linzjax commented on #112
That was fast, thanks! So I spent yesterday trying out that branch to get it working and the customizable host works great. Unfortunately, turns out it also needs HTTP.secure to be False otherwise the TLS certificate freaks out.

The weird thing about the versioning is that you can run
[code]
And it will give you a response that's different from the `2019-02-19` version, it just must not be quite

[2019-05-22 10:51] srghma opened #116 "external_accounts not implemented"
https://stripe.com/docs/api/external_accounts

what else is not implemented?

[2019-07-15 23:41] aviaviavi commented on #67
Hi @dmjio - Just checking, is Stripe Connect still unsupported by this library? I don't see much in this repo for it, but just wanted to make sure I'm not missing it somewhere before writing the bindings for that part of the API myself.

[2019-07-16 00:28] dmjio commented on #67
@aviaviavi that's correct. PRs always welcome. Let me know if you want to collaborate on it.

[2019-07-19 21:18] aviaviavi opened #117 "Add Stripe Connect support"
Hi @dmjio,

I'm interested in adding in functionality for a few connect endpoints. Currently, I'd like to be able to get connect's oauth tokens (https://connect.stripe.com/oauth/token) and managing checkout sessions (https://api.stripe.com/v1/checkout/sessions) and charging them. Might need some others as I go. I'm new to stripe so not sure how complex this is. Any help getting started would be ap

[2019-07-19 22:47] aviaviavi commented on #117
It looks like I'll have to edit some of the stuff in #113 because now the subdomain will depend on the request

[2019-07-19 23:01] aviaviavi commented on #117
maybe configured hosts just flatly overwrite request hosts in all cases is ok

[2019-07-22 19:28] dmjio commented on #117
Hey @aviaviavi ,

Apologies for the delayed response. This sounds awesome. As you've noticed `stripe` is currently configured to send requests to a single endpoint, the PR you mentioned (#113) concerning @linzjax is a good first step. I don't believe it was merged because the protocol should also be configurable as well (shouldn't use http). I believe @linzjax's use case was for testing. I'd be ha

[2019-07-22 19:32] dmjio commented on #112
@linzjax 2012 !? I thought I was in the dark ages with only supporting 2014 :)

Didn't mean to abandon this issue. I will update the #113 to make this possible. I attempted and found it was a little more effort than previously thought. Will update the nix scripts as well.

[2019-08-08 05:00] danstn commented on #81
Any movement on this? Kind of a big deal this one :)

[2019-08-08 05:38] dmjio commented on #81
@danstn https://github.com/dmjio/stripe/pull/118 ... some movement :)

[code]

[2019-08-08 05:51] danstn commented on #81
EPIC! So so so need this :)

Btw, noticed that it happens for `updateCustomer` as well:
[code]

Also, works just fine when using a Standard API Key. Seeing the bug when using Restricted API Key only... Not sure how this is related.

[2019-08-08 06:08] dmjio commented on #81
@danstn can you paste your Customer JSON here?

[2019-08-08 06:09] dmjio commented on #81
Also, does the restricted API key return the same data as the standard API key ?

[2019-08-08 06:20] danstn commented on #81
Sure @dmjio !

Restricted API:

**<= Request:**
[code]

**=> Response (restricted):**
[code]

**=> Response (standard):**
[code]

[2019-08-08 06:25] danstn commented on #81
The data is updated correctly in Stripe though, so it's just the decoder it seems.

[2019-08-08 19:48] dmjio commented on #81
@danstn can you try again, but use the branch from PR #118 ?

[2019-08-09 00:44] danstn commented on #81
Hmmm...I think I'm doing something wrong.

`StripeConfig` is now expecting an endpoint for some reason. So, I had to `StripeConfig <key> Nothing` to make it happy (assuming it'll use the default).

Anyway - here's a response when getting a customer:
[code]

Not sure if I'm doing git shenanigans right (see `stack.yaml` snippet below) ?
[code]

@dmjio thanks for your help, by the way :) Really appre

[2019-08-09 01:13] dmjio commented on #81
Thanks for helping me debug *tips hat*. Making the endpoint configurable was a new feature added so we can take advantage of `stripe-mock`. Can you try using the `stripeRaw` function ? This will allow us to dump the raw JSON response. Can you print that bytestring and paste it here? Then I can test the parser against it. `subscriptions` might be an optional field.

[2019-08-09 01:25] danstn commented on #81
Makes sense.

Doesn't seem like `stripeRaw` is exported by anything.

[2019-08-09 01:37] dmjio commented on #81
Must have gotten hidden in a refactor, will expose it when I get home

Sent from my iPhone

[2019-08-09 02:33] dmjio commented on #81
It seems `stripeRaw` died in the refactor to `stripe-http-client`, I've made `subscriptions` optional on `Card`, care to try again with `753967b` ?

[2019-08-09 02:50] danstn commented on #81
Just did! All working as expected now :)

You're a LEGEND, thanks so much for such a quick turnaround.

Any ETA on when it can be merged?

Also, on an unrelated note - any tools you're aware of for Stripe webhook signing?

[2019-08-09 03:05] dmjio commented on #81
- https://github.com/dmjio/stripe/releases/tag/2.5.0
- http://hackage.haskell.org/package/stripe-haskell

[2019-08-09 03:05] #81 closed

[2019-08-09 03:07] dmjio commented on #81
@danstn I'm unaware of any tools for Stripe webhook signing, am unsure what this tbh. I assume the webhooks sent are over https and you can add headers via the stripe UI.

[2019-08-09 03:18] danstn commented on #81
Yep, it's header-based (just need to `HMAC` it and `sha` it)
https://stripe.com/docs/webhooks/signatures

Thanks for the release!!! 2.5.0 tested E2E.

I owe you a beer next time you're in Melbourne...or a miso ;)

[2019-08-09 03:25] dmjio commented on #81
@danstn never been to Australia, would love to visit. If I do, I'll take you up on the offer for sure.
On both a 🍺 and a 🍜 that is ;)

[2019-08-29 23:12] NorfairKing opened #120 "Sessions not implemented?"
This seems to be required for all payments , before September 15 2019. Is there any plan to add this? How can I help?

[2019-08-30 00:10] dmjio commented on #120
At the time this API was implemented, I don't believe sessions were present.

https://web.archive.org/web/20140625062328/https://stripe.com/docs/api

[2019-08-30 00:43] NorfairKing commented on #120
Yes, that makes sense, but on Sept 15 2019, new regulation comes into effect that requires everyone using stripe to use the new API. This includes sessions.

Also, in `EventData`, the `UnknownEventData` constructor should probably contain a `Data.Aeson.Value`.

[2019-08-30 01:08] NorfairKing commented on #120
The `EventType` constructor called `UnknownEventType` should probably also include a `Text`.

[2019-08-30 01:44] NorfairKing commented on #110
+1

[2019-09-09 07:53] danstn commented on #120
+1

Currently parsing "checkout.session.completed" event manually. Would be great to have Session support :)

[2019-09-09 08:58] NorfairKing commented on #120
@danstn Could you help with #122 then?

[2019-10-23 11:44] vu3rdd opened #124 "Changes in the webhook event object in newer API versions"
It looks like the `request` property of the `Event` object that one gets from a webhook has changed in the newer versions of the API, resulting in an error:
[code]
The `[eventRequest](https://hackage.haskell.org/package/stripe-core-2.5.0/docs/Web-Stripe-Event.html#t:Event)` has a type `Maybe Text`, however, one gets an object from Stripe:
[code]
This change happened in version [2017-05-25](https:/

[2019-10-23 12:06] exarkun commented on #124
Perhaps worth noting is that newly created Stripe accounts seem to use the newest Stripe API at the time of their creation and there is no option to downgrade.

[2019-10-23 13:50] dmjio commented on #124
AFAIK the Events API (webhooks specifically) follow the latest stripe version, but other APIs (customers, etc.) use the version that is hard-coded in the HTTP header. So it's possible to use your own JSON decoding method just for stripe webhooks (that corresponds with the API version on your account), and this library for everything else.

[2019-10-31 12:38] vu3rdd opened #125 "Passing the token from stripe.js"
I am trying to call the stripe charge API. The frontend using the `stripe.js` gives me a token, which needs to be [passed](https://stripe.com/docs/charges) as `source` parameter to the API. Looking at the [Web.Stripe.Charge](https://hackage.haskell.org/package/stripe-core-2.5.0/docs/Web-Stripe-Charge.html) module, I wonder how to do the equivalent step with the [older version of the API](https://w

[2019-10-31 13:54] vu3rdd commented on #125
Ok, this seem to do the trick. In the posted JSON, I see a "card" key and that would hopefully do the same job as the "source" key in the new API versions..

[code]

[2020-03-04 09:21] cutsea110 commented on #93
Will you support payment APIs soon?
That is, Payment APIs are PaymentMethod, PaymentIntents, SetupIntents.

[2020-03-04 11:39] dmjio commented on #93
@cutsea110 Potentially, when do you need it by? https://github.com/dmjio/stripe/pull/122 has preliminary support for `PaymentIntents` as well. cc @NorfairKing

[2020-03-04 14:00] NorfairKing commented on #93
@cutsea110 I made some code that's just enough for my purposes, but not really fit to be included into this library as-is.

[2020-03-06 06:59] cutsea110 commented on #93
@dmjio @NorfairKing Thanks for your quick reply.

I think I have to deal with deadline by next March.
I want to make the transition early as I have time to spare.

I found this ticket was opened at 2018, so I asked how this project will go.

Thanks!

[2020-09-01 18:47] sol opened #127 "Hackage release"
The latest version of `stripe-core` on Hackage has a restrictive upper bound on `time`.  Any chance to get a new release that works with the latest version of `time`?

[2020-09-01 18:49] sol opened #128 "Adding to Stackage"
@dmjio any chance to get this into Stackage?

[2020-09-02 07:05] dmjio commented on #127
http://hackage.haskell.org/package/stripe-core

[2020-09-02 07:05] #127 closed

[2020-09-02 07:46] dmjio commented on #128
https://github.com/commercialhaskell/stackage/pull/5630

[2020-09-02 15:15] #128 closed

[2020-11-04 20:49] emhoracek opened #129 "ParseFailure with Diner's Club card."
A customer ran into a problem with using their Diner's Club card on our client's website. I was able to reproduce in a staging environment.

The error happens when we attempt to create the customer in Stripe.

`StripeError {errorType = ParseFailure, errorMsg = "mzero", errorCode = Nothing, errorParam = Nothing, errorHTTP = Nothing}`

 I looked up a test request in the Stripe console. The customer

[2020-11-09 01:40] kevin-meyers opened #130 "getPlans returning error"
I tried running `stripe (StripeConfig (StripeKey stripeSecretKey) Nothing) getPlans` and got the error:
[code]

I have tried other endpoints like createPlan and createCustomer and they are working fine.

My stripe-haskell, stripe-core, and stripe-http-client versions are 2.6.2

I tried it with both my live and test keys.

[2020-11-09 01:56] kevin-meyers opened #131 "Landing page mobile optimized"
Optimize the landing page for mobile phones, ~ media size 500 and below

[2020-11-09 04:15] #131 closed

[2020-11-09 04:15] kevin-meyers commented on #131
HUGE mistake, I meant for this on my own repo, I am so sorry

[2020-11-09 04:25] kevin-meyers commented on #130
It's returning an error because plans got moved to products

[2020-11-10 00:06] dmjio commented on #131
@kevin-meyers

![](https://memegenerator.net/img/instances/68650354.jpg)

[2020-11-19 20:26] creichert commented on #129
I believe our team is hitting this as well. I can reproduce it with Diners Club test card although I believe we are seeing it with Amex too.

- Card is saved correctly for the customer in our Dashboard
- The response error is `StripeError {errorType = ParseFailure, errorMsg = "mzero", errorCode = Nothing, errorParam = Nothing, errorHTTP = Nothing}`

Test card: `36227206271667` Diners Club (14 digi

[2020-11-20 01:44] danstn commented on #94
Hey @chris-martin it's a relatively straight-forward process (4 steps).
Happy to share a reference implementation if you're interested?

[2020-12-02 01:31] chris-martin commented on #94
I ended up implementing it myself: packaged as [stripe-signature](https://hackage.haskell.org/package/stripe-signature) and [stripe-scotty](https://hackage.haskell.org/package/stripe-scotty).

[2020-12-06 15:46] jezen commented on #129
@emhoracek @creichert I believe this is fixed in https://github.com/dmjio/stripe/pull/134

I haven't tested this; I just fixed a clear asymmetry between this library and Stripe's documentation. Could you take a look and weigh in?

[2020-12-06 22:15] dmjio commented on #129
I'll push a new release, @jezen found the parse error in #134 it seems.

[2020-12-06 22:15] #129 closed